@media screen and (min-width: 768px) and (max-width: 900px) { 
#int_box{
          position: relative;
    top: 0;
    left: 15rem;
}
    .about-mf .about-img img {
    margin-left: 0.5rem !important;
}
    #about-intro{
        width: 200px;
    }
    #int_img{
        width: 150px;
    }
    #about-col {
    right: -45% !important;
}
    #about_me{
        margin-left: 17%;
    }   
}
@media screen and (min-width:375px) and (max-width: 450px){ 
#int_box{
          position: relative;
    top: 0;
    left: 5rem;
}
    .about-mf .about-img img {
        margin-left: -4.5rem !important;
}
    #about-intro{
        width: 200px;
    }
    #int_img{
        width: 150px;
    }
    #about-col {
    right: -45% !important;
}
    #about_me{
        margin-left: 2%;
    }   
}